<% content_for :header_links do %>
  <a href="/cuisines"><- All Cuisines</a>
<% end %>

<div class="cuisine_name">
  <h2><%= @cuisine[:name] %></h2>

  <form action="/cuisines/<%= @cuisine[:id] %>/recipes/new" method="get">
    <input type="submit" value="Add New Recipe">
  </form>
</div>

<ul class="recipe">
  <% @recipes.each do |recipe|%>
    <li>
      <a href="/cuisines/<%= @cuisine[:id] %>/recipes/<%= recipe[:id] %>">
        <%= recipe[:name] %>
      </a>

      <form action="/cuisines/<%= @cuisine[:id] %>/recipes/<%= recipe[:id] %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
      
      <form action="/cuisines/<%= @cuisine[:id] %>/recipes/<%= recipe[:id] %>/edit">
          <input type="submit" value="Edit">
        </form>
    </li>
  <% end %>
</ul>

<div class="recipes_pages">
  <% if @num_of_pages.zero? %>
  <% elsif @current_page_num == 1 %>
    <span class="previous_page">Previous</span>
  <% elsif @current_page_num == 2 %>
    <a class="previous_page" href="/cuisines/<%= @cuisine[:id] %>/recipes?page">Previous</a>
  <% else %>
    <a class="previous_page" href="/cuisines/<%= @cuisine[:id] %>/recipes?page=<%= @current_page_num - 1 %>">Previous</a>
  <% end %>

  <% page_links(@num_of_pages, @current_page_num).each do |num| %>
    <% if num == 1 %>
      <a class="<%= page_class(num, @current_page_num) %>" href="/cuisines/<%= @cuisine[:id] %>/recipes?page"><%= num %></a>
    <% else %>
      <a class="<%= page_class(num, @current_page_num) %>" href="/cuisines/<%= @cuisine[:id] %>/recipes?page=<%= num %>"><%= num %></a>
    <% end %>
  <% end %>
  
  <% if @num_of_pages.zero? %>
  <% elsif @num_of_pages == 1 || @current_page_num == @num_of_pages %>
    <span class="next_page">Next</span>
  <% elsif @num_of_pages > 1 && @current_page_num == 1 %>
    <a class="next_page" href="/cuisines/<%= @cuisine[:id] %>/recipes?page=2">Next</a>
  <% else %>
    <a class="next_page" href="/cuisines/<%= @cuisine[:id] %>/recipes?page=<%= @current_page_num + 1 %>">Next</a>
  <% end %>
</div>
